
.footer{
    text-align: center;
    padding: 2rem;
    /* background-color: rgb(32, 31, 65); */
    background-color: rgb(0, 31, 65);
    color: #FFFFFF;
    position: relative; 
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
  }

.footer-office {
  font-size: 16px;
}

.footer-inquiries{
  font-size: 16px;
}

.footer-text {
  font-size: 16px;
}